<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pdsu.mapper.CommentMapper" >

    <resultMap id="BaseResultMap" type="com.pdsu.pojo.Comment" >
        <id column="comment_id" property="commentId" jdbcType="VARCHAR" />
        <result column="u_id" property="uId" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="pid" property="pid" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="l_id" property="lId" jdbcType="VARCHAR" />
        <result column="star" property="star" jdbcType="INTEGER" />
        <result column="u_name" property="uName" jdbcType="VARCHAR" />
        <result column="u_img" property="uImg" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        comment_id, u_id, content, created, pid, status, l_id, star, u_name, u_img
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pdsu.pojo.CommentExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from comment
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from comment
        where comment_id = #{commentId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from comment
        where comment_id = #{commentId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.pdsu.pojo.CommentExample" >
        delete from comment
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.pdsu.pojo.Comment" >
        insert into comment (comment_id, u_id, content, 
            created, pid, status, 
            l_id, star, u_name, 
            u_img)
        values (#{commentId,jdbcType=VARCHAR}, #{uId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
            #{created,jdbcType=TIMESTAMP}, #{pid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
            #{lId,jdbcType=VARCHAR}, #{star,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, 
            #{uImg,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.pdsu.pojo.Comment" >
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="commentId != null" >
                comment_id,
            </if>
            <if test="uId != null" >
                u_id,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="created != null" >
                created,
            </if>
            <if test="pid != null" >
                pid,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="lId != null" >
                l_id,
            </if>
            <if test="star != null" >
                star,
            </if>
            <if test="uName != null" >
                u_name,
            </if>
            <if test="uImg != null" >
                u_img,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="commentId != null" >
                #{commentId,jdbcType=VARCHAR},
            </if>
            <if test="uId != null" >
                #{uId,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="created != null" >
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="pid != null" >
                #{pid,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="lId != null" >
                #{lId,jdbcType=VARCHAR},
            </if>
            <if test="star != null" >
                #{star,jdbcType=INTEGER},
            </if>
            <if test="uName != null" >
                #{uName,jdbcType=VARCHAR},
            </if>
            <if test="uImg != null" >
                #{uImg,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.pdsu.pojo.CommentExample" resultType="java.lang.Integer" >
        select count(*) from comment
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update comment
        <set >
            <if test="record.commentId != null" >
                comment_id = #{record.commentId,jdbcType=VARCHAR},
            </if>
            <if test="record.uId != null" >
                u_id = #{record.uId,jdbcType=VARCHAR},
            </if>
            <if test="record.content != null" >
                content = #{record.content,jdbcType=VARCHAR},
            </if>
            <if test="record.created != null" >
                created = #{record.created,jdbcType=TIMESTAMP},
            </if>
            <if test="record.pid != null" >
                pid = #{record.pid,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.lId != null" >
                l_id = #{record.lId,jdbcType=VARCHAR},
            </if>
            <if test="record.star != null" >
                star = #{record.star,jdbcType=INTEGER},
            </if>
            <if test="record.uName != null" >
                u_name = #{record.uName,jdbcType=VARCHAR},
            </if>
            <if test="record.uImg != null" >
                u_img = #{record.uImg,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update comment
        set comment_id = #{record.commentId,jdbcType=VARCHAR},
            u_id = #{record.uId,jdbcType=VARCHAR},
            content = #{record.content,jdbcType=VARCHAR},
            created = #{record.created,jdbcType=TIMESTAMP},
            pid = #{record.pid,jdbcType=VARCHAR},
            status = #{record.status,jdbcType=INTEGER},
            l_id = #{record.lId,jdbcType=VARCHAR},
            star = #{record.star,jdbcType=INTEGER},
            u_name = #{record.uName,jdbcType=VARCHAR},
            u_img = #{record.uImg,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.pdsu.pojo.Comment" >
        update comment
        <set >
            <if test="uId != null" >
                u_id = #{uId,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="created != null" >
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="pid != null" >
                pid = #{pid,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="lId != null" >
                l_id = #{lId,jdbcType=VARCHAR},
            </if>
            <if test="star != null" >
                star = #{star,jdbcType=INTEGER},
            </if>
            <if test="uName != null" >
                u_name = #{uName,jdbcType=VARCHAR},
            </if>
            <if test="uImg != null" >
                u_img = #{uImg,jdbcType=VARCHAR},
            </if>
        </set>
        where comment_id = #{commentId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.pdsu.pojo.Comment" >
        update comment
        set u_id = #{uId,jdbcType=VARCHAR},
            content = #{content,jdbcType=VARCHAR},
            created = #{created,jdbcType=TIMESTAMP},
            pid = #{pid,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            l_id = #{lId,jdbcType=VARCHAR},
            star = #{star,jdbcType=INTEGER},
            u_name = #{uName,jdbcType=VARCHAR},
            u_img = #{uImg,jdbcType=VARCHAR}
        where comment_id = #{commentId,jdbcType=VARCHAR}
    </update>
</mapper>